{% extends 'layouts/base.twig' %}

{% block title %}All Products{% endblock %}
//DON'T use this css add my own!!
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/public/product-grid.css">
{% endblock %}

{% block main_content %}
	
		    	{% for product in products %}
			       
			                    <a href="/store/products/{{ product.slug }}">
			                    	{% for variant in product.Variants %}
			                    		{% set loopIndex = loop.index %}
			                    		{% for image in variant.Images %}
			                    			<img class="pic-{{ loopIndex }}" src="/public/images/{{ image.id }}{{ image.extension }}">
			                    		{% endfor %}		
			                    	{% endfor %}
			                    </a>
			                  <h3><a href="#">{{ product.title }}</a></h3>
			                        ${{ product.price }}
		    	{% endfor %}
{% endblock %}