<form method="POST" action="/products{% if product.id %}/{{ product.id }}{% endif %}">

    <input name="id" type="hidden" value="{{ product.id }}" />

    <div>
        <label for="title">Product Title:</label>
        <input type="text" name="title" value="{{ product.title }}"/>
    </div>
    <div>
        <label for="id">Product ID:</label>
        <input type="number" name="id" value="{{ product.Id }}"/>
    </div>
    <div>
        <label for="slug">Product Slug:</label>
        <input id="slug" type="text" name="slug" value="{{ product.slug }}"/>
    </div>
    <div>
        <label for="price">Product Price:</label>
        <input id="price" type="number" name="price" value="{{ product.price }}"/>
    </div>
    <div>
        <button  type="submit">Save Product</button>
    </div>

</form>